@tailwind base;
@tailwind utilities;
@tailwind components;
*{
   font-family :'Comfortaa', cursive;
}

.accent_bg{
    background: #70C493;
}
.accent_color{
    color: #70C493;
}
.app{
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size :cover;
    background-blend-mode :overlay;
    background-color :#c4ff57;
    opacity :1;
}
